*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.d1,.d2,.d3,.d4,.d5,.d6{
    width: 300px;
    min-height: 200px;
    background:brown;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}
header{
    width: 100%;
    background:black ;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-bottom:20px;
    border-bottom:solid;
    border-color:gold;
    margin-bottom:20px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    
}
